@import './var.css';

/*GLOBAL*/
.projects{height: 250px;}

*{background-color: var(--main-bg-color)}
*::selection{background-color: var(--main-color);color: var(--main-color-white);}
*::-moz-selection {background-color: var(--main-color);color: var(--main-color-white);}

h1{font-family: "Circular Std Black", sans-serif}
h2{font-family: "Circular Std Bold", sans-serif}
p{font-family: "Circular Std Book",serif; font-size: 18px}

button, .btn-outline-light {
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 1px var(--main-color-white) solid;

}
button:hover,.btn-outline-light:hover {
  text-align: right;
  background-color: var(--main-color);
  color: black;
  border: 1px var(--main-color) solid;}

/*HEADER*/
.header-cite{display: inline}
.social-icon{height: 40px;width: 40px}
.social-icon:hover{
  filter : brightness(150%);
}
.name-header{color: var(--main-color)}
.head-profil{height: auto;width: 250px;}

/* clignoter barre header */
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}
.ityped-cursor{
  animation-duration: .6s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}

/* RESPONSIVE */
.resp-text-header{display: none;}
.container-about,
.container-experience,
.container-projects,
.projects-container,
.diplomes-container{max-width: 75%;margin: auto;}
.text-diplome{color: var(--main-color)}
.text-diplome:hover{color: var(--main-color-white)}
.stack{height: auto;width: auto;}
@media (max-width: 800px) { 
  .resp-header, #ityped{ display: none;}
  .resp-text-header{display: block;}
  .container-about,
  .container-experience,
  .container-projects,
  .projects-container,
  .diplomes-container{max-width: 100%;margin: auto;}
  .stack{width: 100%;}
}

/* PROJECT */
.container-projects{font-size: 14px;}
.list-group-item {
  padding: 10px;
  background-color: transparent;
  border-radius: 0;
  color: var(--main-color);
  border: 1px solid var(--main-color-white);
}
.lien-container-projects{color: var(--main-color);}
.lien-container-projects:hover{text-decoration:none; color: var(--main-color-white)}
.badge-mix{background-color: #252a2c;padding: 5px; color: var(--main-color)}
.lien-project{color: var(--main-color-white);}

/*FOOTER*/
.img-footer{height: auto;width: 30px;padding-bottom: 6px}
.netlify-footer{ height: auto;width: 70px;}
.second-footer{font-size: 15px;margin-top: -16px;}

/* effet sur lien */
.link-style {
  text-decoration: none;
  box-shadow: inset 0 -2px 0 var(--main-color-blur);
  padding: 1px;
  transition-duration: 1.5s;
  color: var(--main-color-white);
  overflow: hidden;
}
.link-style:hover {
  text-decoration: none;
  box-shadow: inset 0 -100px 0 var(--main-color);
  padding: 2.5px;
  transition-duration: 1.5s;
  color: var(--main-color-black);
  overflow: hidden;
  border-radius: 5px;
}